@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0 font-size-18">Project Dashboard</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Cybereum</a></li>
                                <li class="breadcrumb-item active">Project Dashboard</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row">
                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="font-size-12">Total <br>Project Participants</h5>
                                </div>
                                <div class="avatar-xs">
                                    <span class="avatar-title rounded-circle bg-primary">
                                        <i class="dripicons-box"></i>
                                    </span>
                                </div>
                            </div>
<<<<<<< Updated upstream
                            <h4 class="m-0 align-self-center">153</h4>
=======
                            <h4 class="m-0 align-self-center">@ViewBag.TotalParticipant</h4>
>>>>>>> Stashed changes
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="font-size-12">Total <br>Milestones</h5>
                                </div>
                                <div class="avatar-xs">
                                    <span class="avatar-title rounded-circle bg-primary">
                                        <i class="dripicons-briefcase"></i>
                                    </span>
                                </div>
                            </div>
<<<<<<< Updated upstream
                            <h4 class="m-0 align-self-center">14</h4>
=======
                            <h4 class="m-0 align-self-center">@ViewBag.TotalMilestone</h4>
>>>>>>> Stashed changes
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="font-size-12">Total<br> Activities</h5>
                                </div>
                                <div class="avatar-xs">
                                    <span class="avatar-title rounded-circle bg-primary">
                                        <i class="dripicons-tags"></i>
                                    </span>
                                </div>
                            </div>
<<<<<<< Updated upstream
                            <h4 class="m-0 align-self-center">787</h4>
=======
                            <h4 class="m-0 align-self-center">@ViewBag.TotalActivity</h4>
>>>>>>> Stashed changes
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="font-size-12">Currently Active Participants</h5>
                                </div>
                                <div class="avatar-xs">
                                    <span class="avatar-title rounded-circle bg-primary">
                                        <i class="dripicons-cart"></i>
                                    </span>
                                </div>
                            </div>
<<<<<<< Updated upstream
                            <h4 class="m-0 align-self-center">207</h4>
=======
                            <h4 class="m-0 align-self-center">0</h4>
>>>>>>> Stashed changes
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="font-size-12">Total <br>Milestones Achieved</h5>
                                </div>
                                <div class="avatar-xs">
                                    <span class="avatar-title rounded-circle bg-primary">
                                        <i class="dripicons-cart"></i>
                                    </span>
                                </div>
                            </div>
<<<<<<< Updated upstream
                            <h4 class="m-0 align-self-center">2</h4>
=======
                            <h4 class="m-0 align-self-center">@ViewBag.TotalMilestoneacheived</h4>
>>>>>>> Stashed changes
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="font-size-12">Total <br>Milestones Delayed</h5>
                                </div>
                                <div class="avatar-xs">
                                    <span class="avatar-title rounded-circle bg-primary">
                                        <i class="dripicons-cart"></i>
                                    </span>
                                </div>
                            </div>
<<<<<<< Updated upstream
                            <h4 class="m-0 align-self-center">2</h4>
=======
                            <h4 class="m-0 align-self-center">0</h4>
>>>>>>> Stashed changes
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="font-size-12">Total Outside Upsteam Milestones Delayed</h5>
                                </div>
                                <div class="avatar-xs">
                                    <span class="avatar-title rounded-circle bg-primary">
                                        <i class="dripicons-cart"></i>
                                    </span>
                                </div>
                            </div>
<<<<<<< Updated upstream
                            <h4 class="m-0 align-self-center">2</h4>
=======
                            <h4 class="m-0 align-self-center">0</h4>
>>>>>>> Stashed changes
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="font-size-12">Total Activities Completed</h5>
                                </div>
                                <div class="avatar-xs">
                                    <span class="avatar-title rounded-circle bg-primary">
                                        <i class="dripicons-cart"></i>
                                    </span>
                                </div>
                            </div>
<<<<<<< Updated upstream
                            <h4 class="m-0 align-self-center">2</h4>
=======
                            <h4 class="m-0 align-self-center">@ViewBag.TotalActivityCompleted</h4>
>>>>>>> Stashed changes
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="font-size-12">Total <br>Activities Delayed</h5>
                                </div>
                                <div class="avatar-xs">
                                    <span class="avatar-title rounded-circle bg-primary">
                                        <i class="dripicons-cart"></i>
                                    </span>
                                </div>
                            </div>
<<<<<<< Updated upstream
                            <h4 class="m-0 align-self-center">12</h4>
=======
                            <h4 class="m-0 align-self-center">0</h4>
>>>>>>> Stashed changes
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="font-size-12">Expected <br>Completion Time</h5>
                                </div>
                                <div class="avatar-xs">
                                    <span class="avatar-title rounded-circle bg-primary">
                                        <i class="dripicons-cart"></i>
                                    </span>
                                </div>
                            </div>
                            <h4 class="m-0 align-self-center">Sep 05, 2023</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="font-size-12">Expected <br>Cost at Completion</h5>
                                </div>
                                <div class="avatar-xs">
                                    <span class="avatar-title rounded-circle bg-primary">
                                        <i class="dripicons-cart"></i>
                                    </span>
                                </div>
                            </div>
                            <h4 class="m-0 align-self-center">$97,210,00000</h4>
                        </div>
                    </div>
                </div>

            </div>
            <!---------------------------- Project Schedule ----------------------------->
            <div class="row mt-4">
                <div class="col-12 ">
                    <div class="card">
                        <div class="card-body">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">
                                    Project Schedule

                                </h4>

                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="text-white">
                                    Today's Date : <span class="badge badge-primary font-size-18">07/18/2023</span>
                                </p>
                                <p class="text-white">
                                    Current points : <span class="badge badge-primary font-size-18">250</span>
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card"
                                         style="background-color: #3d8ef82e!important;border-color:#3d8ef82e!important;">
                                        <div class="card-body">

                                            <h4 class="header-title">Planned Schedule</h4>
                                            <p class="card-title-desc">Planned Completion Aug 20,2023</p>

                                            <div class="">
                                                <div class="progress mb-2" style="height: 30px !important;">

                                                    <div class="progress-bar progress-bar-striped  bg-success progress-bar-animated"
                                                         role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                                         aria-valuemax="100" style="width: 55%">
                                                        55% Planned
                                                        Progress
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end col -->

                                <div class="col-lg-6">
                                    <div class="card"
                                         style="background-color: #3d8ef82e!important;border-color:#3d8ef82e!important;">
                                        <div class="card-body">

                                            <h4 class="header-title">Actual Schedule</h4>
                                            <p class="card-title-desc">Estimation Completion Sep 05,2023</p>

                                            <div class="">
                                                <div class="progress mb-2" style="height: 30px !important;">

                                                    <div class="progress-bar progress-bar-striped  bg-danger progress-bar-animated"
                                                         role="progressbar" aria-valuenow="72" aria-valuemin="0"
                                                         aria-valuemax="100" style="width: 72%">
                                                        72% Actual
                                                        Progress
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-12">
                                    <p class="text-white">
                                        This Project is Currently Behind the Planned Schedule.
                                        Additional Resources and
                                        optimization may be needed to get back on track.
                                    </p>
                                </div>

                            </div>
                            <div class="col-md-12 mb-3 align-self-center">

                                <a class='superBtn check-btn'>Check Status</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!----------------------------end Project Schedule ----------------------------->
            <!---------------------------- Project Cost ----------------------------->
            <div class="row mt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">
                                    Project Cost
                                </h4>
                                <p class="text-white mb-0">
                                    Current points : <span class="badge badge-primary font-size-18">180</span>
                                </p>

                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card"
                                         style="background-color: #3d8ef82e!important;border-color:#3d8ef82e!important;">
                                        <div class="card-body">

                                            <h4 class="header-title">Planned Cost</h4>
                                            <p class="card-title-desc">
                                                Planned Cost: <span class="badge badge-primary font-size-18">$72,100,000</span>
                                            </p>

                                            <div class="">
                                                <div class="progress mb-2" style="height: 30px !important;">

                                                    <div class="progress-bar progress-bar-striped  bg-success progress-bar-animated"
                                                         role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                                         aria-valuemax="100" style="width: 85%">
                                                        $50,470,000 -
                                                        Current Planned Expenditure
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end col -->

                                <div class="col-lg-6">
                                    <div class="card"
                                         style="background-color: #3d8ef82e!important;border-color:#3d8ef82e!important;">
                                        <div class="card-body">

                                            <h4 class="header-title">Actual Cost</h4>
                                            <p class="card-title-desc">
                                                Estimated Cost: <span class="badge badge-primary font-size-18">$97,210,000</span>
                                            </p>

                                            <div class="">
                                                <div class="progress mb-2" style="height: 30px !important;">

                                                    <div class="progress-bar progress-bar-striped  bg-danger progress-bar-animated"
                                                         role="progressbar" aria-valuenow="72" aria-valuemin="0"
                                                         aria-valuemax="100" style="width: 72%">
                                                        $87,489,000 -
                                                        Current Actual Expenditure
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-12">
                                    <p class="text-white">
                                        The project is currently over budget. It is
                                        recommended to review expenditures and reassess the budget allocation.
                                    </p>
                                </div>

                            </div>
                            <div class="col-md-12 mb-3 align-self-center">

                                <a class='superBtn px-2'>Reanalyze</a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!----------------------------end Project Cost ----------------------------->
            <!---------------------------- Projected Completion ----------------------------->
            <div class="row mt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">
                                    Projected Completion
                                </h4>

                            </div>
                            <p class="mb-2 text-white">
                                As of the current data, the project is anticipated to be
                                completed by <strong>September 05, 2023</strong>. This estimation is based on
                                current progress and resource allocation. However, it’s important to note that
                                the completion date could vary due to unforeseen challenges or changes in scope.
                                We recommend regular monitoring of the project's milestones and KPIs to identify
                                and mitigate potential delays.
                            </p>

                            <div class="col-md-12 mb-3 mt-3 align-self-center">

                                <a class='superBtn pro-com px-2'>Generate More Forecasts</a>

                            </div>
                            <p class="text-white mb-0 p-2 rounded bg-success">
                                Top 3 Project Leaders:
                                <strong>
                                    John Doe (500 points), Jane Smith (450 points), Bob Johnson (400
                                    points)
                                </strong>
                            </p>


                        </div>
                    </div>
                </div>
            </div>
            <!----------------------------end Projected Completion ----------------------------->
            <div class="row mt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">
                                    Earned Value Analysis
                                </h4>

                            </div>

                            <div id="line_chart_dashed" class="apex-charts" dir="ltr"></div>



                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">
                                    Recommendation
                                </h4>

                            </div>
                            <p class="mb-2 text-white">
                                Monitor these milestones: 23, 45, 87 and these
                                activities; 5, 78, 44, 45, 34, 78, 8, 43
                            </p>

                            <div class="col-md-12 mb-3 mt-3 align-self-center">

                                <a class='superBtn px-2'>Reanalyze</a>

                            </div>
                            <p class="text-white mb-0 p-2 rounded bg-success">
                                Earn a <strong>
                                    Proactive Manager
                                    Badge
                                </strong> for every 5 recommendations implemented. Current badges:
                                <strong>3</strong>
                            </p>


                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-0 font-size-18">
                                Project Kanban Board
                            </h4>
                            <div class="form-group row mt-3">
                                <div class="col-md-3">
                                    <label for="">From</label>
                                    <input class="form-control" type="date" id="example-date-input">
                                </div>
                                <div class="col-md-3">
                                    <label for="">To</label>
                                    <input class="form-control" type="date" id="example-date-input">
                                </div>
                            </div>
                            <div class="containers position-relative">
                                <div class="board">
                                    <div class="btn-board position-absolute" style="top: 10px;left: 0;">
                                        <button class="add-task-board btn btn-primary-outline btn-lg">
                                            Add New
                                            Task
                                            Board
                                        </button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="font-size-18">Fever Chart</h4>

                            <div style="background-image: linear-gradient(140deg, red, yellow, green);"
                                 id="morris-area-example" class="morris-chart" dir="ltr"></div>


                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="font-size-18">Dependency Analysis</h4>

                            <div id="mynetwork"></div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">




                            <h4 class="font-size-18">Impact of Delays</h4>

                            <div class="table-responsive">
                                <table class="table  table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th style="color: aliceblue;">Delay</th>
                                            <th style="color: aliceblue;">Impact</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>Activity 23</td>
                                            <td>Activity 42,45</td>

                                        </tr>
                                        <tr>

                                            <td>Milestone 3</td>
                                            <td>Milestone 3</td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="font-size-18">User</h4>

                            <div class="table-responsive">
                                <table class="table  table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th style="color: aliceblue;">Username</th>
                                            <th style="color: aliceblue;">Email</th>
                                            <th style="color: aliceblue;">Signup Date</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>User1</td>
                                            <td>ser1@email.com</td>
                                            <td>01/01/2019</td>

                                        </tr>
                                        <tr>

                                            <td>User1</td>
                                            <td>ser1@email.com</td>
                                            <td>01/01/2019</td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="row">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-6">

                                        <h4 class="font-size-18 ml-2 mb-4">Risk Matrix</h4>
                                        <div id="scatter-diagram" class="ct-chart ct-golden-section" dir="ltr">
                                        </div>

                                    </div>
                                    <div class="col-6">

                                        <div class="table-responsive">
                                            <table class="table  table-hover mb-0">
                                                <thead>
                                                    <tr>
                                                        <th style="color: aliceblue;">Risk</th>
                                                        <th style="color: aliceblue;">Probability</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Supply chain Disruption</td>
                                                        <td>Low</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Budget Overrun</td>
                                                        <td>Medium</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Scope screep</td>
                                                        <td>Low</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Technical Failure</td>
                                                        <td>High</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Regulatory Changes</td>
                                                        <td>Medium</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Safety Incident</td>
                                                        <td>High</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Resources Shortage</td>
                                                        <td>High</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Schedule Delay</td>
                                                        <td>High</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- end row -->

</div> <!-- container-fluid -->

<<<<<<< Updated upstream
=======
<!-- Task completion Status-->
@Scripts.Render("~/bundles/jquery")
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
    var $ = jQuery.noConflict();
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: "/Projectportfoliodashboard/GettaskcompletionData?projectid=@ViewBag.Projectid",
            dataType: 'json',
            async: false,
            contentType: "application/json; charset=utf-8",            
            cache: false,
            success: function (data) {                
                    $('#ddlIssueType').val = data;
            },
            error: function () {                
            }
        });
    });    
</script>
>>>>>>> Stashed changes
