@using Cybereum.Models
@model ForgotPwdViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h5 class="mb-5 text-center">Forgot Password</h5>
@using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "forgotForm" }))
{
    <div class="row">
        <div class="col-md-12">
            <p class="login-box-msg">Forgot your password? Here you can easily retrieve a new password.</p>
            <span class="text-danger" style="align-items:center;">
                @ViewBag.Message
            </span>
            <span class="text-success" style="align-items:center;">
                @ViewBag.Message2
            </span>

            <div class="form-group mt-4">
                <label for="useremail">Email ID</label>                
                @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger",@placeholder = "Enter Email id", @maxlength=100 })
            </div>

            <div class="mt-5 mb-0">                                
                <a class="superBtn email-btn ml-2" onclick="forgotForm.submit();"><button type="submit" style="display:none;"></button>Submit</a>

            </div>

        </div>
    </div>
}
<div class="new-account mt-3">
    <p>
        @Html.ActionLink("Back to Login", "Login", null, new { @class = "text-primary", @style = "color:#0D2136;" })
    </p>

</div>  

@*<div class="row no-gutters">
    <div class="col-xl-12">
        <div class="auth-form">            
            <h3 class="text-center mb-4">Forgot Password</h3>

            <span class="text-danger" style="align-items:center;">
                @ViewBag.Message
            </span>
            <p class="login-box-msg">Forgot your password? Here you can easily retrieve a new password.</p>

            <span class="text-success" style="align-items:center;">
                @ViewBag.Message2
            </span>

            @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form",id="forgotForm" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="mb-1"><strong>Email ID</strong></label>

                    @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })

                </div>
                <div class="text-center">                                            
                    <button type="submit" class="btn btn btn-block" href="" style="background-color: #0D2136; color: white;">Submit</button>
                </div>                
            }            
            <div class="new-account mt-3">
                <p>
                    @Html.ActionLink("Back to Login", "Login", null, new { @class = "text-primary", @style = "color:#0D2136;" })
                </p>

            </div>         

        </div>
    </div>
</div>*@
