@*@using Cybereum.Models
@model ResetPwdViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row no-gutters">
    <div class="col-xl-12">
        <div class="auth-form">
            <h3 class="text-center mb-4">Reset Password</h3>
            <span class="text-danger" style="align-items:center;">
                @ViewBag.Message
            </span>

            @using (Html.BeginForm("RecoverPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.Hidden("email", (object)ViewBag.email)
                @Html.Hidden("code", (object)ViewBag.code)

                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="mb-1"><strong>Password</strong></label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    <label class="mb-1"><strong>Confirm Password</strong></label>

                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

                </div>                
                <div class="text-center">
                    <button type="submit" class="btn btn btn-block" href="" style="background-color: #0D2136; color: white;">Update password</button>
                </div>                
            }
            <div class="new-account mt-3">
                <p>
                    @Html.ActionLink("Login", "Login", null, new { @class = "text-primary", @style = "color:#0D2136;" })
                </p>

            </div> 

        </div>
    </div>
</div>*@


@using Cybereum.Models
@model ResetPwdViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>
    .toggle-password {
        float: right;
        cursor: pointer;
        margin-right: 10px;
        margin-top: -25px;
    }
</style>
<h5 class="mb-5 text-center">Reset Password</h5>
@using (Html.BeginForm("RecoverPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "recoverForm" }))
{
    <div class="row">
        <div class="col-md-12">            
            <span class="text-danger" style="align-items:center;">
                @ViewBag.Message
            </span>            
            @Html.Hidden("email", (object)ViewBag.email)
            @Html.Hidden("code", (object)ViewBag.code)
            @Html.AntiForgeryToken()
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group mt-4">
                <label class="mb-1"><strong>Password</strong></label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" ,@maxlength=50})
            </div>
            <div class="form-group mt-4">
                <label class="mb-1"><strong>Confirm Password</strong></label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger", @maxlength = 50 })
            </div>
            <div class="mt-5 mb-0">
                <a class="superBtn email-btn ml-2" onclick="recoverForm.submit();"><button type="submit" style="display:none;"></button>Update</a>

            </div>

        </div>
    </div>
}
<div class="new-account mt-3">
    <p>
        @Html.ActionLink("Back to Login", "Login", null, new { @class = "text-primary", @style = "color:#0D2136;" })
    </p>
</div>  

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(document).ready(function () {
        $(".toggle-password").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            input = $(this).parent().find("input");
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    });
</script>