@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <h4>Dashboard</h4>
            </div>
            <div class="box">
                <div class="container">
                    <div class="row">


                        @if (Convert.ToInt32(Session["RoleId"]) == 2)
                        {
                            <div class="col-sm-6 col-xl-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-body">
                                                <h5 class="font-size-14">Users</h5>
                                            </div>
                                            <div class="avatar-xs">
                                                <span class="avatar-title rounded-circle bg-primary">
                                                    <i class="dripicons-box"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <h2 class="m-0 align-self-center">
                                            <a href="@Url.Action("Index", "User")">
                                                @if (ViewBag.countUser != null)
                                                {
                                                    @ViewBag.countUser;
                                                }
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                            </div>
                        }
                        @*@if (Convert.ToInt32(Session["RoleId"]) != 3)
                        {*@
                            <div class="col-sm-6 col-xl-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-body">
                                                <h5 class="font-size-14">Project</h5>
                                            </div>
                                            <div class="avatar-xs">
                                                <span class="avatar-title rounded-circle bg-primary">
                                                    <i class="dripicons-box"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <h2 class="m-0 align-self-center">
                                            <a href="@Url.Action("projectportfoliodashboard", "projectportfoliodashboard")">
                                                @if (ViewBag.countProject != null)
                                                {
                                                    @ViewBag.countProject;
                                                }
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                            </div>
                        @*}*@




                        @if (Convert.ToInt32(Session["RoleId"]) == 3)
                        {
                            <div class="col-sm-6 col-xl-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-body">
                                                <h5 class="font-size-14">Task</h5>
                                            </div>
                                            <div class="avatar-xs">
                                                <span class="avatar-title rounded-circle bg-primary">
                                                    <i class="dripicons-box"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <h2 class="m-0 align-self-center">
                                            <a href="@Url.Action("List", "Task")">
                                                @if (ViewBag.countTask != null)
                                                {
                                                    @ViewBag.countTask;
                                                }
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-xl-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-body">
                                                <h5 class="font-size-14">Sub-Task</h5>
                                            </div>
                                            <div class="avatar-xs">
                                                <span class="avatar-title rounded-circle bg-primary">
                                                    <i class="dripicons-box"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <h2 class="m-0 align-self-center">
                                            <a href="@Url.Action("List", "SubTask")">
                                                @if (ViewBag.countSubTask != null)
                                                {
                                                    @ViewBag.countSubTask;
                                                }
                                            </a>

                                        </h2>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {


    });

</script>
