<<<<<<< Updated upstream
﻿@model List<SelectListItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Scripts/jquery-2.1.1.min.js"></script>

    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
        <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>*@

@*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.bootstrap4.min.css" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" />*@

@*
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>*@

@*<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
@*<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>*@

<style>
    #button {
        display: block;
        margin: 20px auto;
        padding: 10px 30px;
        background-color: #eee;
        border: solid #ccc 1px;
        cursor: pointer;
    }

    #overlay {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
        background: rgba(0,0,0,0.6);
    }

    .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }

    @@keyframes sp-anime {
        100% {
            transform: rotate(360deg);
        }
    }

    .is-hide {
        display: none;
    }
</style>

<div class="form-horizontal">
    <h4>Approved Users List</h4>
    <hr />
</div>


<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="tblApprovedUser" class="display min-w850">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email id</th>
                            <th style="width: 125.125px;">Role Name</th>
                            <th style="width: 125.125px;">Organization</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*<div id="msg">

    </div>*@
<div class="modal fade" id="msg" role="dialog" aria-labelledby="clientModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="clientmodalbody">

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(document).ajaxSend(function () {
        //$("#overlay").fadeIn(300);
    });

    $(document).ready(function () {
        $('#liFiles').addClass("active");
        //$('#ddlState').focus();

        //$('#txtwellnessno').keypress(function (e) {
        //    debugger;
        //    var key = e.which;
        //    if (key == 13) {
        //        $('input[name = searchgrid]').click();
        //        return false;
        //    }
        //    if (key != 8 && key != 0 && (key < 48 || key > 57)) {
        //        $("#errormsg").html("Digits Only").show().fadeOut("slow");
        //        return false;
        //    }
        //});

        //$("#txtfiledate").change(function () {
        //    debugger;
        //    var startdate = $(this).val();
        //    var date = $("#txtfiledateto").val();
        //    if (date != "") {
        //        if (date < startdate) {
        //            alert('To date must be greater than From date');
        //            $(this).val('');
        //        }
        //    }
        //});

        //$("#txtfiledateto").change(function () {
        //    debugger;
        //    var startdate = $("#txtfiledate").val();
        //    var date = $(this).val();
        //    if (date < startdate) {
        //        alert('To date must be greater than From date');
        //        $(this).val('');
        //    }
        //});



        debugger;
        var reset = 0;
        var objFilter = {
        }

        $("#tblApprovedUser").DataTable(
        {
            processing: true,
            serverSide: true,
            filter: true,
            orderMulti: false,
            pageLength: 75,
            Sort: true,
            "ajax": {
                url: '@Url.Action("GetApprovedUser", "User")',
                type: 'POST'
            },
            aLengthMenu: [[75, 100, 500, 1000, -1], [75, 100, 500, 1000, "All"]],
            iDisplayLength: 75,
            //scrollY: 400,
            aoColumnDefs: [{
                bSortable: false,
                aTargets: [-1, -2]
            }],
            "bAutoWidth": false,
            "info": true,
            columns: [
                { 'data': 'firstname', 'name': 'First Name' },
                { 'data': 'lastname', 'name': 'Last Name' },
                { 'data': 'emailid', 'name': 'Email ID' },
                { 'data': 'rolename', 'name': 'Role Name' },
                { 'data': 'organization', 'name': 'Organization' },
                //{
                //    'data': 'createddate', 'name': 'Created Date',
                //    'render': function (jsonDate) {
                //        debugger;
                //        if (jsonDate != null) {
                //            var date = new Date(parseInt(jsonDate.substr(6)));
                //            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                //            return month + '-' +  ("0" + date.getDate()).slice(-2) + '-' + date.getFullYear();
                //        }
                //        else
                //        {
                //            return "";
                //        }
                //    }
                //},
                {
                    data: 'firstname', render: function (data, type, row) {
                        return "<button type='submit' onclick=ViewData('" + encodeURIComponent(row.userid) + "');><img src='../images/cyber/eye (2).png' width='35%'></button>";
                    }
                }],
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
        });
    });


    function ViewData(userid) {
        debugger;
        window.location = '@Url.Action("Edit", "User")?id=' + userid;
    }

    function OnSuccess(objFilter) {
        $("#overlay").fadeOut(300);

        debugger;
        $("#tblApprovedUser").DataTable(
        {
            processing: true,
            serverSide: true,
            filter: true,
            orderMulti: false,
            destroy: true,
            //ordering: true,
            pageLength: 75,
            //LengthChange: true,
            //Filter: true,
            Sort: true,
            "ajax": {
                url: '@Url.Action("GetApprovedUser", "User")',
                type: 'POST'
            },
            aLengthMenu: [[75, 100, 500, 1000, -1], [75, 100, 500, 1000, "All"]],
            iDisplayLength: 75,
            //scrollY: 400,
            //scrollCollapse: false,
            aoColumnDefs: [{
                bSortable: false,
                aTargets: [-1, -2]
            }],
            columns: [
                { 'data': 'firstname', 'name': 'First Name' },
                { 'data': 'lastname', 'name': 'Last Name' },
                { 'data': 'emailid', 'name': 'Email ID' },
                { 'data': 'rolename', 'name': 'Role Name' },
                { 'data': 'organization', 'name': 'Organization' },
                {
                    data: 'firstname', render: function (data, type, row) {
                        return "<button type='submit' onclick=ViewData('" + encodeURIComponent(row.userid) + "');><img src='../images/cyber/eye (2).png' width='35%'></button>";
                    }
                }],
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
        });
    };

    function msg(strMsg, mode) {
        $.notify(strMsg, mode, { globalPosition: 'top center', clickToHide: true, autoHide: false });
    }


</script>
=======
﻿@model List<SelectListItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Scripts/jquery-2.1.1.min.js"></script>

    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
        <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>*@

@*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.bootstrap4.min.css" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" />*@

@*
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>*@

@*<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
@*<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>*@

<style>
    #button {
        display: block;
        margin: 20px auto;
        padding: 10px 30px;
        background-color: #eee;
        border: solid #ccc 1px;
        cursor: pointer;
    }

    #overlay {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
        background: rgba(0,0,0,0.6);
    }

    .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }

    @@keyframes sp-anime {
        100% {
            transform: rotate(360deg);
        }
    }

    .is-hide {
        display: none;
    }
</style>

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <h4>Approved Users List</h4>
                <hr />
            </div>


            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tblApprovedUser" class="table table-hover mb-0" width="100%">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email id</th>
                                        <th style="width: 125.125px;">Role Name</th>
                                        <th style="width: 125.125px;">Organization</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            @*<div id="msg">

                </div>*@
            <div class="modal fade" id="msg" role="dialog" aria-labelledby="clientModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="clientmodalbody">

                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
            @Scripts.Render("~/bundles/jquery")
            <script type="text/javascript">
    $(document).ajaxSend(function () {
        //$("#overlay").fadeIn(300);
    });

    $(document).ready(function () {
        $('#liFiles').addClass("active");
        
        debugger;
        var reset = 0;
        var objFilter = {
        }

        $("#tblApprovedUser").DataTable(
        {
            processing: true,
            serverSide: true,
            filter: false,
            orderMulti: false,
            paging:false,
            Sort: true,
            "ajax": {
                url: '@Url.Action("GetApprovedUser", "User")',
                type: 'POST'
            },
            aoColumnDefs: [{
                bSortable: false,
                aTargets: [-1, -2]
            }],
            "bAutoWidth": false,
            "info": true,
            columns: [
                { 'data': 'firstname', 'name': 'First Name' },
                { 'data': 'lastname', 'name': 'Last Name' },
                { 'data': 'emailid', 'name': 'Email ID' },
                { 'data': 'rolename', 'name': 'Role Name' },
                { 'data': 'organization', 'name': 'Organization' },                
                {
                    data: 'firstname', render: function (data, type, row) {
                        return '<a><button type="button" class="btn btn-outline-primary btn-sm waves-effect waves-light" onclick=ViewData("' + encodeURIComponent(row.userid) + '")>View</button></a>';
                    }
                }],
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
        });
    });


    function ViewData(userid) {
        debugger;
        window.location = '@Url.Action("Edit", "User")?id=' + userid;
    }

    function OnSuccess(objFilter) {
        $("#overlay").fadeOut(300);

        debugger;
        $("#tblApprovedUser").DataTable(
        {
            processing: true,
            serverSide: true,
            filter: true,
            orderMulti: false,
            destroy: true,
            //ordering: true,
            pageLength: 75,
            //LengthChange: true,
            //Filter: true,
            Sort: true,
            "ajax": {
                url: '@Url.Action("GetApprovedUser", "User")',
                type: 'POST'
            },
            aLengthMenu: [[75, 100, 500, 1000, -1], [75, 100, 500, 1000, "All"]],
            iDisplayLength: 75,
            //scrollY: 400,
            //scrollCollapse: false,
            aoColumnDefs: [{
                bSortable: false,
                aTargets: [-1, -2]
            }],
            columns: [
                { 'data': 'firstname', 'name': 'First Name' },
                { 'data': 'lastname', 'name': 'Last Name' },
                { 'data': 'emailid', 'name': 'Email ID' },
                { 'data': 'rolename', 'name': 'Role Name' },
                { 'data': 'organization', 'name': 'Organization' },
                {
                    data: 'firstname', render: function (data, type, row) {
                        return "<button type='submit' onclick=ViewData('" + encodeURIComponent(row.userid) + "');><img src='../images/cyber/eye (2).png' width='35%'></button>";
                    }
                }],
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
        });
    };

    function msg(strMsg, mode) {
        $.notify(strMsg, mode, { globalPosition: 'top center', clickToHide: true, autoHide: false });
    }


            </script>
>>>>>>> Stashed changes
