<<<<<<< Updated upstream
﻿@model List<SelectListItem>

@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #button {
        display: block;
        margin: 20px auto;
        padding: 10px 30px;
        background-color: #eee;
        border: solid #ccc 1px;
        cursor: pointer;
    }

    #overlay {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
        background: rgba(0,0,0,0.6);
    }

    .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }

    @@keyframes sp-anime {
        100% {
            transform: rotate(360deg);
        }
    }

    .is-hide {
        display: none;
    }
</style>

<div class="form-horizontal">
    <h4>Users List</h4>
    <hr />
</div>
<p><button type="button" class="btn btn" style='background-color: #0D2136; color: white;' onclick="location.href='@Url.Action("AddUsers", "User")'">Add New</button></p>

    &nbsp;

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tblUser" class="display min-w850">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>E-mail Id</th>
                                <th>Role Name</th>
                                <th>Organization</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div id="msg">

    </div>*@
<div class="modal fade" id="msg" role="dialog" aria-labelledby="clientModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="clientmodalbody">

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(document).ajaxSend(function () {
        //$("#overlay").fadeIn(300);
    });

    $(document).ready(function () {
        $('#liUsers').addClass("active");
        
        function LoadUsersData(id, roleid) {
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetUser", "User")?userid=' + id + '?roleid=' + roleid,
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    debugger;
                    //alert(response.d);
                },
                error: function (response) {
                    debugger;
                    alert(response.d);
                }
            });
        }

        debugger;
        //var reset = 0;
        var value = '@Request.RequestContext.HttpContext.Session["LoggedInUserId"]';
        var value1 = '@Request.RequestContext.HttpContext.Session["RoleId"]';
        var objFilter = {
            userid: value,
            roleid: value1
        }

        $("#tblUser").DataTable(
        {
            processing: true,
            serverSide: true,
            filter: false,
            orderMulti: false,
            pageLength: 75,
            Sort: true,
            "ajax": {
                url: '@Url.Action("GetUser", "User")',
                type: 'POST',
                data: objFilter
            },
            aLengthMenu: [[75, 100, 500, 1000, -1], [75, 100, 500, 1000, "All"]],
            iDisplayLength: 75,
            //scrollY: 400,
            aoColumnDefs: [{
                bSortable: false,
                aTargets: [-1, -2]
            }],
            "bAutoWidth": false,
            "info": true,
            columns: [
                { 'data': 'firstname', 'name': 'First Name' },
                { 'data': 'lastname', 'name': 'Last Name' },
                { 'data': 'emailid', 'name': 'Email ID' },
                { 'data': 'rolename', 'name': 'Role Name' },
                { 'data': 'organization', 'name': 'Organization' },                
                {
                    "render": function (data, type, full, meta)
                    { return '<button class="btn btn" style="background-color: #0D2136; color: white;" onclick=getClient("' + full.userid + '"); >Edit</button>'; }
                }],
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
        });
    });


    function OnSuccess(response) {
        $("#tblUser").dataTable(
        {
            bLengthChange: true,
            bFilter: false,
            bSort: true,
            bPaginate: true,
            data: response,
            bresponsive: true,
            scrollX: false,
            aoColumnDefs: [{
                bSortable: false,
                aTargets: [-1, -2]
            }],
            columns: [{ 'data': 'firstname', 'name': 'First Name' },
                { 'data': 'lastname', 'name': 'Last Name' },
                { 'data': 'emailid', 'name': 'Email ID' },
                { 'data': 'rolename', 'name': 'Role Name' },
                { 'data': 'organization', 'name': 'Organization' },
                {
                    "render": function (data, type, full, meta)
                    { return '<button class="btn btn-info" onclick=getClient("' + full.userid + '"); >Edit</button>'; }
                }],
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
        });
    };

    function getClient(id) {
        debugger;
        location.href = '@Url.Action("Addrecord", "User", new { id = "id" })'.replace('id', id);
        
    }

    function EditData(userid) {
        debugger;
        $.ajax(
        {
            url: '@Url.Action("AddUsers", "User")?id=' + userid,
            contentType: 'application/json; charset=utf-8',
            datatype: 'json',
            async: true,
            data: {
                datuserid: userid
            },
            type: "GET",
            success: function (response) {
                $("#overlay").fadeOut(300);
                debugger;
                if (response == "Success")
                    @*window.location = '@Url.Action("Users", "User")?userid=' + userid;
                else
                    msg(response, 'info');*@
                    msg("Record edited successfully", "info");
                window.location.reload();
            }
        });
    }

    function DeleteData(id) {
        if (confirm("Are you sure you want to delete this record?")) {
            $.ajax({
                url: '@Url.Action("DeleteUser", "User")?id=' + id,
                type: "GET",
                dataType: "JSON",
                data: '{}',
                success: function (response) {
                    msg("Record deleted successfully", "info");
                    window.location.reload();
                }
            });
        }
        return false;
    }    

    function msg(strMsg, mode) {
        $.notify(strMsg, mode, { globalPosition: 'top center', clickToHide: true, autoHide: false });
    }
</script>
=======
﻿@model List<SelectListItem>

@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #button {
        display: block;
        margin: 20px auto;
        padding: 10px 30px;
        background-color: #eee;
        border: solid #ccc 1px;
        cursor: pointer;
    }

    #overlay {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
        background: rgba(0,0,0,0.6);
    }

    .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }

    @@keyframes sp-anime {
        100% {
            transform: rotate(360deg);
        }
    }

    .is-hide {
        display: none;
    }
</style>
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <h4>Users List</h4>
                <hr />
            </div>
            <p><button type="button" class="btn btn-outline-primary btn-lg waves-effect waves-light" onclick="location.href='@Url.Action("AddUsers", "User")'"><i class="mdi mdi-shape-square-plus"></i> New User</button>                
            </p>

            &nbsp;

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="tblUser" class="table table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>E-mail Id</th>
                                            <th>Role Name</th>
                                            <th>Organization</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div id="msg">

                </div>*@
            <div class="modal fade" id="msg" role="dialog" aria-labelledby="clientModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="clientmodalbody">

                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
            @Scripts.Render("~/bundles/jquery")
            <script type="text/javascript">
                $(document).ajaxSend(function () {
                    //$("#overlay").fadeIn(300);
                });

                $(document).ready(function () {
                    $('#liUsers').addClass("active");

                    function LoadUsersData(id, roleid) {
                        debugger;
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("GetUser", "User")?userid=' + id + '?roleid=' + roleid,
                            data: '{}',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: OnSuccess,
                            failure: function (response) {
                                debugger;
                                //alert(response.d);
                            },
                            error: function (response) {
                                debugger;
                                alert(response.d);
                            }
                        });
                    }

                    debugger;
                    //var reset = 0;
                    var value = '@Request.RequestContext.HttpContext.Session["LoggedInUserId"]';
                    var value1 = '@Request.RequestContext.HttpContext.Session["RoleId"]';
                    var objFilter = {
                        userid: value,
                        roleid: value1
                    }

                    $("#tblUser").DataTable(
                    {
                        processing: true,
                        serverSide: true,
                        filter: false,
                        orderMulti: false,
                        paging: false,
                        Sort: true,
                        "ajax": {
                            url: '@Url.Action("GetUser", "User")',
                            type: 'POST',
                            data: objFilter
                        },
                        aoColumnDefs: [{
                            bSortable: false,
                            aTargets: [-1, -2]
                        }],
                        "bAutoWidth": false,
                        "info": true,
                        columns: [
                            { 'data': 'firstname', 'name': 'First Name' },
                            { 'data': 'lastname', 'name': 'Last Name' },
                            { 'data': 'emailid', 'name': 'Email ID' },
                            { 'data': 'rolename', 'name': 'Role Name' },
                            { 'data': 'organization', 'name': 'Organization' },
                            {
                                "render": function (data, type, full, meta)
                                { return '<a><button type="button" class="btn btn-outline-primary btn-sm waves-effect waves-light" onclick=getClient("' + full.userid + '"); >Edit</button></a>'; }
                            }],
                        select: {
                            style: 'multi',
                            selector: 'td:first-child'
                        },
                    });
                });


                function OnSuccess(response) {
                    $("#tblUser").dataTable(
                    {
                        bLengthChange: true,
                        bFilter: false,
                        bSort: true,
                        bPaginate: true,
                        data: response,
                        bresponsive: true,
                        scrollX: false,
                        aoColumnDefs: [{
                            bSortable: false,
                            aTargets: [-1, -2]
                        }],
                        columns: [{ 'data': 'firstname', 'name': 'First Name' },
                            { 'data': 'lastname', 'name': 'Last Name' },
                            { 'data': 'emailid', 'name': 'Email ID' },
                            { 'data': 'rolename', 'name': 'Role Name' },
                            { 'data': 'organization', 'name': 'Organization' },
                            {
                                "render": function (data, type, full, meta)
                                { return '<button class="btn btn-info" onclick=getClient("' + full.userid + '"); >Edit</button>'; }
                            }],
                        select: {
                            style: 'multi',
                            selector: 'td:first-child'
                        },
                    });
                };

                function getClient(id) {
                    debugger;
                    location.href = '@Url.Action("Addrecord", "User", new { id = "id" })'.replace('id', id);

                }

                function EditData(userid) {
                    debugger;
                    $.ajax(
                    {
                        url: '@Url.Action("AddUsers", "User")?id=' + userid,
                        contentType: 'application/json; charset=utf-8',
                        datatype: 'json',
                        async: true,
                        data: {
                            datuserid: userid
                        },
                        type: "GET",
                        success: function (response) {
                            $("#overlay").fadeOut(300);
                            debugger;
                            if (response == "Success")
                                @*window.location = '@Url.Action("Users", "User")?userid=' + userid;
                else
                    msg(response, 'info');*@
                                msg("Record edited successfully", "info");
                            window.location.reload();
                        }
                    });
                }

                function DeleteData(id) {
                    if (confirm("Are you sure you want to delete this record?")) {
                        $.ajax({
                            url: '@Url.Action("DeleteUser", "User")?id=' + id,
                            type: "GET",
                            dataType: "JSON",
                            data: '{}',
                            success: function (response) {
                                msg("Record deleted successfully", "info");
                                window.location.reload();
                            }
                        });
                    }
                    return false;
                }

                function msg(strMsg, mode) {
                    $.notify(strMsg, mode, { globalPosition: 'top center', clickToHide: true, autoHide: false });
                }
            </script>
<<<<<<< Updated upstream
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
