@model List<SelectListItem>

@{
    ViewBag.Title = "Project List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <h4>Project List</h4>
                <hr />
            </div>
            @if (Convert.ToInt32(Session["RoleId"]) == 2 || Convert.ToInt32(Session["RoleId"]) == 4)
            {
                <p><button type="button" class="btn btn" style='background-color: #0D2136; color: white;' onclick="location.href='@Url.Action("AddEditProject", "Project")'">Add New</button></p>
            }            
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="tblProject" class="display min-w850">
                                    <thead>
                                        <tr>
                                            <th>Project Name</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Project Manager</th>
                                            <th>Created On</th>
                                            <th>Hash ID</th>
                                            <th>Edit</th>
                                            @*<th>Activity</th>*@
                                            <th>GANTT Chart</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

<<<<<<< Updated upstream
<div class="form-horizontal">
    <h4>Project List</h4>
    <hr />
</div>
@if (Convert.ToInt32(Session["RoleId"]) == 2)
{
    <p><button type="button" class="btn btn" style='background-color: #0D2136; color: white;' onclick="location.href='@Url.Action("AddEditProject", "Project")'">Add New</button></p>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tblProject" class="display min-w850">
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Project Manager</th>
                                <th>Created On</th>
                                <th>Hash ID</th>
                                <th>Edit</th>
                                @*<th>Activity</th>*@
                                <th>GANTT Chart</th>                                
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

=======
                            </div>
                        </div>
                    </div>
>>>>>>> Stashed changes
                </div>
            </div>
            </div>
        </div>
    </div>
            @Scripts.Render("~/bundles/jquery")
            <style>
                .expand-column {
                    max-width: 70px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            </style>

<<<<<<< Updated upstream
@Scripts.Render("~/bundles/jquery")
<style>
    .expand-column {
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
}
</style>

<script type="text/javascript">
=======
            <script type="text/javascript">
>>>>>>> Stashed changes
    $(document).ajaxSend(function () {
        //$("#overlay").fadeIn(300);
    });

    $(document).ready(function () {
        $('#liUsers').addClass("active");

        //var reset = 0;
        var value = '@Request.RequestContext.HttpContext.Session["LoggedInUserId"]';
        var value1 = '@Request.RequestContext.HttpContext.Session["RoleId"]';
        var objFilter = {
            userid: value,
            roleid: value1            
        }

        $("#tblProject").DataTable(
        {
            processing: true,
            serverSide: true,
            filter: false,
            orderMulti: false,
            pageLength: 75,
            Sort: true,
            "ajax": {
                url: '@Url.Action("projectlist", "Project")',
                type: 'POST',
                data: objFilter
            },
            aLengthMenu: [[75, 100, 500, 1000, -1], [75, 100, 500, 1000, "All"]],
            iDisplayLength: 75,
            //scrollY: 400,
            aoColumnDefs: [{
                bSortable: false,
                aTargets: [-1, -2]
            }],
            "bAutoWidth": false,
            "info": true,
            columns: [
                { 'data': 'projectname', 'name': 'Project Name' },
                {
                    'data': 'startdate', 'name': 'Start Date',
                    'render': function (jsonDate) {
                        if (jsonDate != null) {
                            var date = new Date(parseInt(jsonDate.substr(6)));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            return month + '-' + ("0" + date.getDate()).slice(-2) + '-' + date.getFullYear();
                        }
                        else {
                            return "";
                        }
                    }
                },
                {
                    'data': 'enddate', 'name': 'End Date',
                    'render': function (jsonDate) {
                        if (jsonDate != null) {
                            var date = new Date(parseInt(jsonDate.substr(6)));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            return month + '-' + ("0" + date.getDate()).slice(-2) + '-' + date.getFullYear();
                        }
                        else {
                            return "";
                        }
                    }
                },
                { 'data': 'createdusername', 'name': 'Project Manager' },
                {
                    'data': 'createdon', 'name': 'Created On',
                    'render': function (jsonDate) {
                        if (jsonDate != null) {
                            var date = new Date(parseInt(jsonDate.substr(6)));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            return month + '-' + ("0" + date.getDate()).slice(-2) + '-' + date.getFullYear();
                        }
                        else {
                            return "";
                        }
                    }
                },
                {
<<<<<<< Updated upstream
                    'data': 'hashcode', 'name': 'Hash ID','class':'expand-column',
                    render: function (data, type, row) {
                        debugger;
=======
                    'data': 'hashcode', 'name': 'Hash ID', 'class': 'expand-column',
                    render: function (data, type, row) {
>>>>>>> Stashed changes
                        return '<span data-toggle="tooltip" title="' + data + '">' + data + "</span>";
                        //return '<span data-toggle="tooltip" title="' + data + '">' + data.length == 0 ? data : data.substr(0, 10) + '…' + '</span>';
                        //var trimdata = data.length > 10 ? data.substr(0, 10) + '…': data;
                        //return '<span data-toggle="tooltip" title="' + data + '">' + trimdata + '</span>';
                    }
                },
                {
                    "render": function (data, type, full, meta) {
                        var value1 = '@Request.RequestContext.HttpContext.Session["RoleId"]';
                        var value2 = '@Request.RequestContext.HttpContext.Session["LoggedInUserId"]';
                        if (value1 == '2' || value1 == '4' || value1 == '3') {
                            if (value2 == full.createdby || value1 == 4) {
                                return '<button class="btn btn" style="background-color: #0D2136; color: white;" onclick=getProject("' + full.projectid + '"); >Edit</button>';
                            }
                            else {
                                return '<button class="btn btn" style="background-color: #0D2136; color: white;" disabled="disabled" onclick=getProject("' + full.projectid + '"); >Edit</button>';
                            }
                        }
                        else {
                            return '<button class="btn btn" style="background-color: #0D2136; color: white;" disabled="disabled" onclick=getProject("' + full.projectid + '"); >Edit</button>';
                        }
                    }
                }
                //,
                //{
                //    data: 'projectname', render: function (data, type, row) {
                //        return "<button type='submit' onclick=GetMilestone('" + encodeURIComponent(row.projectid) + "'); class='btn btn' style='background-color: #0D2136; color: white;'>Activity</button>";
                //    }
                //}
                ,
                {
                    data: 'projectname', render: function (data, type, row) {
                        return "<button type='submit' onclick=GetChart('" + encodeURIComponent(row.projectid) + "'); class='btn btn' style='background-color: #0D2136; color: white;'>GANTT Chart</button>";
                    }
                }
            ],
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
        });
    });
<<<<<<< Updated upstream
    
    function getProject(id) {
        location.href = '@Url.Action("AddEditrecord", "Project", new { id = "id" })'.replace('id', id);        
=======

    function getProject(id) {
        location.href = '@Url.Action("AddEditrecord", "Project", new { id = "id" })'.replace('id', id);
>>>>>>> Stashed changes
    }

    function GetMilestone(projectid) {
        location.href = '@Url.Action("Index", "Activity")?projectid=' + projectid + '';
    }

    function GetChart(projectid) {
        @*location.href = '@Url.Action("GANTTChart", "Home")?projectid=' + projectid + '';*@
        location.href = '@Url.Action("GanttChart", "Project")?projectid=' + projectid + '';
    }


    function GetTask(projectid) {
        location.href = '@Url.Action("Index", "Task")?projectid=' + projectid + '';
    }

    function EditData(projectid) {
        $.ajax(
        {
            url: '@Url.Action("AddEditProject", "Project")?Id=' + projectid,
            contentType: 'application/json; charset=utf-8',
            datatype: 'json',
            async: true,
            data: {
                datuserid: projectid
            },
            type: "GET",
            success: function (response) {
                $("#overlay").fadeOut(300);
                if (response == "Success")
                    @*window.location = '@Url.Action("Users", "User")?userid=' + userid;
                else
                    msg(response, 'info');*@
                    msg("Record edited successfully", "info");
                window.location.reload();
            }
        });
    }

    function DeleteData(id) {
        if (confirm("Are you sure you want to delete this record?")) {
            $.ajax({
                url: '@Url.Action("DeleteUser", "User")?id=' + id,
                type: "GET",
                dataType: "JSON",
                data: '{}',
                success: function (response) {
                    msg("Record deleted successfully", "info");
                    window.location.reload();
                }
            });
        }
        return false;
    }

    function msg(strMsg, mode) {
        $.notify(strMsg, mode, { globalPosition: 'top center', clickToHide: true, autoHide: false });
    }
            </script>
